<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p - [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="FileAppenderError" fileName="logs/web-error.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </File>
        <File name="FileAppenderAll" fileName="logs/web-all.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="net.mobilim.NaviGateService" level="error" additivity="false">
            <AppenderRef ref="FileAppenderError" />
        </Logger>

        <Root level="all">
            <AppenderRef ref="ConsoleAppender" level="debug" />
            <AppenderRef ref="FileAppenderAll" level="info" />
            <AppenderRef ref="FileAppenderAll" level="debug" />
        </Root>
    </Loggers>
</Configuration>